__pycache__/MainForm.cpython-36.pyc
__pycache__/MainForm.cpython-37.pyc
__pycache__/Ui_MainForm.cpython-37.pyc
__pycache__/Ui_NewKeyStoreDialog.cpython-37.pyc
__pycache__/pyNewKeyStore.cpython-37.pyc
